repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: '75ca4ad908dc4a99f57921f29b7e6c1521e10b26'  # frozen: v21.1.8
    hooks:
      - id: clang-format

  # Lint: YAML
  - repo: https://github.com/adrienverge/yamllint
    rev: cba56bcde1fdd01c1deb3f945e69764c291a6530  # frozen: v1.38.0
    hooks:
      - id: yamllint
        args: ["-d {extends: relaxed, rules: {line-length: disable}}", "-s"]
